/* Table Wrapper */
.table-wrapper {
  flex: 1;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
}

.table__head {
  position: sticky;
  top: 0;
  z-index: 101;
}

.table__header {
  padding: 8px;
  text-align: left;
  font-weight: 700;
  color: #374151;
  white-space: nowrap;
  background-color: #f9fafb;
  border-bottom: 1px solid #e0e6ec;
  border-right: 1px solid #e0e6ec;
  border-top: 1px solid #e0e6ec;
}

.table__header:last-child {
  border-right: none;
}

.table__row {
  border-bottom: 1px solid #e5e7eb;
  transition: background-color 0.2s;
  background-color: #fff;
  height: 48px;
}

.table__row:hover {
  background-color: #e1eeff !important;
}

.table__row--highlighted {
  background-color: #fef2f2;
}

.table__row--highlighted:hover {
  background-color: #fee2e2;
}

.table__cell {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  background-color: inherit;
}
.table__cell.stars {
  text-overflow: unset;
}

.table__header-action,
.table__cell-action {
  position: sticky;
  right: 0;
  transition: all 0.2s;
}
.table__cell-action button {
  opacity: 0;
  visibility: hidden;
  border-radius: 100%;
  background-color: inherit;
}
.table__row.show .table__cell-action button {
  opacity: 1;
  visibility: visible;
}
